/* boxes.css */

/* Common */
.box-content {
    width: 100%;
    background-color: #1E252F;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.main-page-top-box {
    height: 100px;
    width: 100%;

    position: relative;
}

.main-page-top-box h1 {
    font-size: 54px;
    width: 220px;
    height: 57px;

    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #2196F3;
}

.main-page-box {
    width: 340px;
    height: 230px;

    position: absolute;
    bottom: 0;
}

.box-content-overlay {
    height: 100%;
    width: 100%;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.box-content:hover .box-content-overlay {
    background-color: rgba(255, 255, 255, .05);
}

.box-content:hover {
    cursor: pointer;
}

.main-page-box-content {
    height: 230px;

    overflow: hidden;
    position: relative;
}

.large-stats h2 {
    font-size: 16px;
    text-align: center;
    padding: 5px;
    line-height: 20px;
}

.large-stats {
    height: 60px;
    width: 100%;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
