/* main.css */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* Main body elements */
html, body {
    height: 100%;
    width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden;
}

html {
    background-color: #1E252F;
}

body {
    background-image: url('../img/grid.png');
}

#page-content-wrap {
    height: 660px;
    width: 680px;
    display: none;
}

* {
    font-family: 'Open Sans', sans-serif !important;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
}

/* Loading styles */
.page-loading-indicator {
    height: 64px;
    width: 64px;
    background: url('../img/loading-spin.svg') no-repeat center center;
    background-size: contain;
}

.modal-loading-indicator {
    height: 24px;
    width: 256px;
    background: url('../img/loading-cylon.svg') no-repeat center center;
    background-size: contain;
    margin: 0px auto;
    margin-top: 5px;
    display: none;
}

/* Helpful classes */
.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
