.modal-opened {
    height: 680px !important;
    width: 680px;
    background-color: #1E252F;
    cursor: default;
    overflow: hidden;

    box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    z-index: 1000;
}

.close-modal-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 48px;
    cursor: pointer;
    display: none;

    z-index: 1000;
}

.modal-content-wrapper {
    height: 100%;
    width: 100%;
}

.modal-content {
    display: none;
}

/* Github modal content design */
#github-top-info {
    height: 340px;
    position: relative;
}

#github-top-info-text-wrap {
    height: 150px;
    width: 200px;
    text-align: center;
}

#github-top-info-text-wrap h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

#github-top-info-text-wrap h2 {
    font-size: 14px;
    margin-bottom: 5px;
}

#github-top-info-text-wrap h3 {
    font-size: 10px;
}

#github-bottom-boxes {
    width: 100%;
    height: 340px;

    position: absolute;
    bottom: 0;
}

.github-repo-box {
    height: 50%;
    width: 25%;
    float: left;

    position: relative;
}

.github-repo-box-text-wrap {
    height: 50px;
    width: 100%;

    text-align: center;
}

.github-repo-box-text-wrap h1 {
    font-size: 16px;
    margin-bottom: 6px;
}

.github-repo-box-text-wrap h2 {
    font-size: 12px;
    margin-bottom: 5px;
}

.github-repo-box-text-wrap h3 {
    font-size: 10px;
}

.github-repo-box-overlay {
    height: 100%;
    width: 100%;
}

.github-repo-box-overlay:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}
