.modal-opened {
    height: 680px !important;
    width: 680px;
    background-color: #1E252F;
    cursor: default;
    overflow: hidden;

    box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    z-index: 1000;
}

.close-modal-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 48px;
    cursor: pointer;
    display: none;
}
