.modal-opened {
    height: 680px !important;
    width: 680px;
    background-color: #1E252F;
    cursor: default;
    overflow: hidden;

    box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    z-index: 1000;
}

.close-modal-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 48px;
    cursor: pointer;
    display: none;

    z-index: 1000;
}

.modal-content-wrapper {
    height: 100%;
    width: 100%;
}

.modal-content {
    display: none;
}

.modal-top-info-text {
    height: 80px;
    width: 200px;
    text-align: center;
}

.modal-top-info-text h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

.modal-top-info-text h2 {
    font-size: 14px;
    margin-bottom: 5px;
}

.modal-top-info-text h3 {
    font-size: 10px;
}
